#h1{background-color:white;height:20%;text-align:center;}
#sec_logo{height:100%;width:10%; float:left;background-color:white;}
ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
font-family: "Dosis", Sans-serif;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 1px;
padding: 35px 25px 35px 25px;
color: #0c0c0c;

}

li {
float: left;
}

li a {
display: block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
-webkit-transition-duration: 0.4s; 
transition-duration: 0.4s;
}

li a:hover {
color: white;
background-color: red;
box-shadow: 0 12px 16px 0 rgb(202, 38, 38),0 17px 50px 0 rgb(202, 43, 43);
border-radius: 25px;
}
.hero-image
{
height: 80%;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
position: relative;

}
.hero-text
{
position: absolute;
top: 40%;
left: 32%;

color: white;
text-align: center;
text-shadow: 0px 0px 15px #000000;
-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));
color: #ffffff;
font-family: "Dosis", Sans-serif;
font-size: 50px;
font-weight: 500;
letter-spacing: 2px;

}
.footer
{
height:30%;
width: 100%;
background-image: linear-gradient(black, 	 #990000);
}


.f1
{
float: left;
padding-top: 50px;
font-size: 45px;
font-family: "Dosis", Sans-serif;
padding-left: 50px;
font-weight: 500;

-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));
color: white;

}
.fa-envelope
{
font-size: 70px;
padding-top: 50px;
padding-left: 250px;
color:#fefefe;
-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));
color: white;
transition: all 2s ease-in-out;


}
.fa-envelope:hover
{
transform: rotatex(360deg);

}



.fa-instagram
{
font-size: 70px;
padding-top: 50px;
padding-left: 250px;

-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));
color: white;
transition: all 2s ease-in-out;
}
.fa-instagram:hover
{
transform: rotatey(360deg);
}



.fa-phone-volume
{
font-size: 70px;
padding-top: 50px;
padding-left: 250px;
color:white;
-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));

transition: all 2s ease-in-out ;
}
.fa-phone-volume:hover
{
transform: rotatex(360deg ) ;
}
.ft
{
float: left;
}

.j
{
padding-left: 150px;
color: white;

}
.k
{
padding-left: 120px;
color: white}
.l
{
padding-left: 150px;
color: white;

}
.seclas
{
height:30%;
width: 100%;
text-align: center;
}
.hP
{
color: #000000;
font-size: 60px;
font-weight: 400;
font-family: "Roboto", Sans-serif;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
margin-inline-start: 0px;
margin-inline-end: 0px;

}
.form
{
padding: 10px;

}
.form-control
{  
margin: 5px;
width: 25%;
color: #747474;
padding: 15px 15px 15px 15px;
font-family: "Roboto", Sans-serif;
font-weight: 400;

border: 1px solid #55595c;
border-radius: 5px;
color: #55595c;
font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 1rem;
color: #212529;
line-height: 2;



}

.p 
{
width: 20%;
text-align: justify;
}