
#h1
{
  background-color:white;
    height:20%;
    text-align:center;
}

#sec_logo
{
    height:auto;
    max-width:100%; 
    float:left;
    background-color:white;
}

ul 
{
  float: right;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   font-family: "Dosis", Sans-serif;
   font-size: 1rem;
   font-weight: 700;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 1px;
   padding: 35px 25px 35px 25px;
   color: #0c0c0c;
}

li 
{
   float: left;
}

li a 
{
 display: block;
 color: black;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 -webkit-transition-duration: 0.4s; 
 transition-duration: 0.4s;
}

li a:hover 
{
  color: #ffffff;
  background-color: red;
  box-shadow: 0 12px 16px 0 rgb(202, 38, 38),0 17px 50px 0 rgb(202, 43, 43);
  border-radius: 25px;
}

.hero-image 
{

 height: 80%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;

}
  
.hero-text 
{

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Dosis", Sans-serif;
  font-style: italic;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 3.2px;
  text-shadow: 0px 0px 15px #000000;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));
  color: #ffffff;
}

#btn
{
background-color: #4CAF50;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

#bar
{
height: 30%;
width: 100%;
background-color: #000000;
}
p
{
color:white;



}
#we
{
height: 20%;
width: 100%;
background-color: #000000;   

}
P
{
float: left;
padding: 30px 0px 50px 370px;
color: #ffffff;
font-size: 27px;
}
#btn
{
float: right;
font-family: "Dosis", Sans-serif;
font-size: 1.1em;
font-weight: 600;
font-style: normal;
line-height: 16px;
letter-spacing: 4.4px;
fill: #ffffff;
color: #ffffff;
background-color: #600300;
border-radius: 57px 57px 57px 57px;
padding: 20px 30px 20px 28px;
margin: 40px 400px 30px 20px;
}
#btn:hover
{
transition: all 0.5s;
border-style: groove;
border-width: 1px 1px 1px 1px;
background-color: white;
color: red;
border-radius: 57px 57px 57px 57px;
padding: 20px 28px 20px 28px;
border-style: groove;
border-width: 5px 10px 0px 10px;
}
#logo
{
height: 40%;
width: 100%;

}

.fa-gamepad
{
float: left;
font-size: 150px;
padding-top: 50px;
padding-left: 250px;
color:#800000;
}
.fa-gamepad:hover
{

transform: rotate(5deg);
transition:  0.3s linear ;

}
.fa-calendar
{
font-size: 150px;
padding-top: 50px;
padding-left: 250px;
color:#800000;
} 
.fa-calendar:hover
{
transform: rotate(5deg);
transition:  0.2s linear ;
}   


.fa-bookmark
{
padding-left: 250px;
font-size: 150px;
color:#800000;

}
.fa-bookmark:hover
{
transform: rotate(5deg);
transition:  0.2s  ;
} 
.qqq
{
  float: left;
}
.eve
{
  padding-left: 12rem;
color: #800000;
font-size: 30px;
font-family: "Dosis", Sans-serif;
font-weight: 500;
letter-spacing: 3.2px;
}
.mem
{
  padding-left: 12.5rem;
color: #800000;
font-size: 30px;
font-family: "Dosis", Sans-serif;
font-weight: 500;
letter-spacing: 3.2px;
}
.gem
{
  padding-left: 9.5rem;
color: #800000;
font-size: 30px;
font-family: "Dosis", Sans-serif;
font-weight: 500;
letter-spacing: 3.2px;
}
.fo
{
height: 33%;
width: 100%;
background-color: #000000;
}
.n
{
  
color: #ffffff;
font-family: "Dosis", Sans-serif;
font-size: 50px;
font-weight: 400;
line-height: 1.3em;
text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
color:#fefefe;
-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgb(0, 0, 0)));
color: #ffffff;
font-style: italic;
text-shadow: 1px 1px 2px rgb(190, 75, 75), 0 0 25px rgb(206, 82, 82), 0 0 5px rgb(220, 46, 46);


}


.sp 
{

width: 40%;
float: left;
color: #ffffff;
font-family: "Dosis", Sans-serif;
font-size: 18px;
font-weight: 400;
line-height: 1.3em;
text-shadow: 0px 0px 0px rgb(0 0 0 / 30%);
text-align: justify;
}
.footer
{
height: 30%;
width: 100%;
background-color: #ffffff;

}
.f1
{
float: left;
padding-top: 50px;
font-size: 45px;
font-family: "Dosis", Sans-serif;
padding-left: 50px;
font-weight: 500;

-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));
color: #000000;

}
.fa-envelope
{
font-size: 70px;
padding-top: 50px;
padding-left: 250px;
color:#fefefe;
-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));
color: #000000;
transition: all 2s ease-in-out;


}
.fa-envelope:hover
{
transform: rotatex(360deg);

}



.fa-instagram
{
font-size: 70px;
padding-top: 50px;
padding-left: 250px;

-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));
color: #000000;
transition: all 2s ease-in-out;
}
.fa-instagram:hover
{
transform: rotatey(360deg);
}



.fa-phone-volume
{
font-size: 70px;
padding-top: 50px;
padding-left: 250px;
color:#000000;
-webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(250, 250, 250, 0.1)));

transition: all 2s ease-in-out ;
}
.fa-phone-volume:hover
{
transform: rotatez(360deg ) ;
}
.ft
{
float: left;
}
.h
{
padding-left: 30px;
color: #000000;
opacity: 0.9;

}
.j
{
padding-left: 100px;
color: #000000;

}
.k
{
padding-left: 140px;
color: #000000;
}
.l
{
padding-left: 150px;
color: #000000;

}
.last
{
width: 100%;
height: 70%;
background-color:#800000;
position: relative;
}
.last img
{
height:20%; 
width:7%;
padding-left: 20%;
padding-top: 5%;
}
.p 
{


color: #ffffff;
font-family: "Dosis", Sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 1.7em;
padding-left: 310px;
width: 20%;
float: left;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.span   
{

color: #f9f9f9;
font-family: "Dosis", Sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 30px;
padding-left: 430px;
-webkit-box-sizing: border-box;
box-sizing: border-box;

}

.social-feed
{

display: inline-block;
position:   relative;
padding-left: 11%;
padding-top: 2%;
}
.la
{
color:red ;
 text-align: center;
padding: 0.8rem;
cursor: pointer;
margin:10px;
background-color: #ffffff;
border-radius: 1rem;


}
.la:hover
{
  color: #ffffff;
  background-color: red;
  box-shadow: 0 12px 16px 0 rgb(202, 38, 38),0 17px 50px 0 rgb(202, 43, 43);
  transition: all 0.5s;
}
#s 
{
position: absolute;
bottom: 0; 
margin-left: 59%;
color: #ffffff;
font-family: "Dosis", Sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 1.7rem;
padding-left: 310px;
width: 20%;

}






